/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';

//CUSTOM STYLES

.answer-item {
    .delete-answer {
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        font-size: 25;
        color: $blue;
        transition: .5s opacity ease;
    }
    &:hover .delete-answer {
        opacity: 1;
        visibility: visible;
    }
}

.option-question-icon {
    font-size: 24px;
    margin: 0 5px;
    color: $blue;
    opacity: .5;
    cursor: pointer;
    transition: .5 opacity ease;
    &:hover {
        opacity: 1;
    }
}